<%  if @user != nil %>  

  <div id="labelPerfil">
    <p>
      <h1>Perfil</h1>
    </p>
  </div>

  <div id="fundo">
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td><%= image_tag(@usuario.foto, :class => 'list_image') %></td>
        <td>
          <table>  
            <tr>
              <th id="cedula_A">Nome completo: </th>
              <td><%= @usuario.nome %></td>
            </tr>
            <tr>
              <th id="cedula_B">Cidade: </th>
              <td><%= @usuario.cidade %></td>
            </tr>
            <tr>            
              <th id="cedula_A">Estado: </th>
              <td><%= @usuario.estado %></td>
            </tr>
            <tr>            
              <th id="cedula_B">Email: </th>
              <td><%= @usuario.email %></td>
            </tr>
            <tr>            
              <th id="cedula_A">Descrição: </th>
              <td><%= @usuario.descricao %></td>
            </tr>
          </table>        
        </td>
      </tr>
    </table>
  </div>

  <div id="botaoc">    
    <%= link_to 'Editar', edit_usuario_path(@usuario) %> |
    <%= link_to 'Voltar', usuarios_path %>
  </div>
  <% else %>
    <script type="text/javascript">
       window.location.href="http://localhost:3000/users/sign_in" 
    </script>
<% end %>